@import '../../../../util/util.css';

:local(.remaining-time-box){
    display: flex;
    background-color: #EFFDFF;
    color: var(--english-green);
    border: 2px solid var(--english-green);
    border-radius: 7px;
    padding: 5px;
    padding-left: 7px;
    padding-right: 7px;
    font-size: 10px;
}

:local(.remaining-time){
    margin: auto;
    margin-right: 7px;
}