@import '../../../../util/util.css';

:local(.styled-box){
    border-radius: 7px;
    min-width: 200px;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 1em;
    margin-left: 2em;
    box-shadow: 0px 0px 7px gray;
    background-color: white;
}

:local(.food-info){
    display: flex;
    padding-right: 0.7em;
    padding-top: 0.7em;
    padding-left: 0.7em;
    flex-wrap: wrap;
}

:local(.food-img){
    max-height: 75px;
}

:local(.name-rate-box){
    display: flex;
    flex-direction: column;
    padding-right: 0.8em;
}

:lcoal(.food-name){
    margin: 0;
    font-size: 20px;
}

:local(.food-rate){
    display: flex;
}

:local(.rate){
    padding: 0;
    margin: 0;
    align-self: center;
    padding-top: 7px;
    padding-left: 3px;
}

:local(.price-info){
    display: flex;
    justify-content: space-around;
    margin-top: 1em;
}

:local(.old-price){
    text-decoration: line-through red;
    color: gray;
}

:local(.buy-box){
    display: flex;
    justify-content: space-around;
    margin-bottom: 7px;
}

:local(.inventory-box){
    display: flex;
    background-color: var(--mint-cream);
    border: 1px solid #8080808a;
    border-radius: 7px;
    font-size: 11px;
    align-items: center;
    padding-left: 4px;
    padding-right: 4px;
    color: #7F807F;
    padding-top: 0;
    padding-bottom: 0;
    height: max-content;
}

:local(.remaining-food-number){
    margin: 0;
}

:local(.buying-button){
    background-color: var(--medium-turquoise);
    font-size: 11px;
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 7px;
    cursor: pointer;
}

:local(.empty){
    padding-left: 10px;
    padding-right: 10px;
}

:local(.empty ~ .buying-button){
    background-color: #C3C3C3;
    cursor: auto;
}   

:local(.restaurant-name){
    text-align: center;
    margin: 0;
    margin-top: 7px;
    border-top: 1px dashed gray;
}